@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-image: linear-gradient(to right, #219ebc, #023047);
    width: 97vw;
    

}

header{
    color: white;
    text-align: center;
}


section{
    display: block;
    margin: auto;

    background-image: linear-gradient(to right, #a1d2ce, #78cad2);
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px black;
    
}

input#botao{
    padding: 5px;
    box-shadow: 1px 1px 5px black;
    cursor: pointer;
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}