@charset "UTF-8";

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-image: linear-gradient(to right, #219ebc, #023047);
    width: 97vw;
}

header{
    color: white;
    text-align: center;
}

#container{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    text-align: center;
    background-image: linear-gradient(to right, #a1d2ce, #78cad2);
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px black;
    height: auto;
}

input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.541);
    cursor: pointer;
    margin-right: 10px;
}

input:hover{
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.541);
    transform: scale(1.05);
    transition: all;
    transition-duration: 0.3s;
}

#button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.541);
    cursor: pointer;

    font-size: 18px;
    width: 150px;
}

#button:hover{
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.541);
    transform: scale(1.05);
    transition: all;
    transition-duration: 0.3s;
}

p{
    font-size: 20px;
    font-weight: bold;
    color: #023047;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.589);
}


footer{
    color: white;
    text-align: center;
    font-style: italic;
}